.button-container * {
    font-style: 16px;
    letter-spacing: 1.3px;
    color: white;
}

.button {
    padding: 20px 40px;
    min-width: 250px;
    border: none;
    border-radius: 8px;
}
.button.red {
    background-color: red;
}

.button.blue {
    background-color: blue;
}

